* {
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
}

.header {
  margin-bottom: 30px;
}

.header h1 {
  margin-left: 20px;
}

a {
  color: black;
  display: inline-block;
}

.header a {
  text-decoration: none;
  display: flex;
}
